In [27]:
import pandas as pd
import json

In [28]:
df = pd.read_csv("GCB2022v27_MtCO2_flat.csv")

lat_lon = pd.read_csv("country-capital-lat-long-population.csv")

In [29]:
full_data = pd.merge(df, lat_lon, how='left', on='Country')

full_data.head()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita,Capital City,Latitude,Longitude,Population,Capital Type
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kabul,34.5289,69.1725,4011770.0,Capital
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kabul,34.5289,69.1725,4011770.0,Capital
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kabul,34.5289,69.1725,4011770.0,Capital
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kabul,34.5289,69.1725,4011770.0,Capital
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kabul,34.5289,69.1725,4011770.0,Capital

In [36]:
full_data.fillna(0, inplace = True)

full_data.head(350)

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita,Capital City,Latitude,Longitude,Population,Capital Type
0,Afghanistan,AFG,1750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Kabul,34.5289,69.1725,4011770.0,Capital
1,Afghanistan,AFG,1751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Kabul,34.5289,69.1725,4011770.0,Capital
2,Afghanistan,AFG,1752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Kabul,34.5289,69.1725,4011770.0,Capital
3,Afghanistan,AFG,1753,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Kabul,34.5289,69.1725,4011770.0,Capital
4,Afghanistan,AFG,1754,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Kabul,34.5289,69.1725,4011770.0,Capital
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,Albania,ALB,1823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Tiranë (Tirana),41.3275,19.8189,475577.0,Capital
346,Albania,ALB,1824,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Tiranë (Tirana),41.3275,19.8189,475577.0,Capital
347,Albania,ALB,1825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Tiranë (Tirana),41.3275,19.8189,475577.0,Capital
348,Albania,ALB,1826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Tiranë (Tirana),41.3275,19.8189,475577.0,Capital
349,Albania,ALB,1827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Tiranë (Tirana),41.3275,19.8189,475577.0,Capital

In [38]:
data_list = []

In [39]:
for index, row in full_data.iterrows():
    data_dict = {
        'Country' : row['Country'],
        'Location' : [row['Latitude'], row['Longitude']],
        'Year' : row['Year'],
        'Total' : row['Total'],
        'Coal' : row['Coal'],
        'Oil' : row['Oil'],
        'Gas' : row['Gas'],
        'Cement' : row['Cement'],
        'Flaring' : row['Flaring'],
        'Other' : row['Other'],
        'Per Capita' : row['Per Capita'] 
    }
    data_list.append(data_dict)

In [40]:
json_data = json.dumps(data_list)

In [41]:
with open("static/js/data.js", "w") as js_file:
    js_file.write(f'const data = {json_data};')