In [1]:
import pandas as pd
from pandas import json_normalize
import json
import pandas_geojson as pdg

c:\Users\danrk\anaconda3\envs\dev\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
emissions_df = pd.read_csv("Resources\GCB2022v27_MtCO2_flat.csv")

countries_df = pd.read_json("Resources\countries.geo.json")

In [3]:
emissions_df.head()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
countries_flattened = json_normalize(countries_df['features'])

In [5]:
countries_flattened.head()

,type,id,properties.name,geometry.type,geometry.coordinates
0,Feature,AFG,Afghanistan,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
1,Feature,AGO,Angola,MultiPolygon,"[[[[16.326528, -5.87747], [16.57318, -6.622645..."
2,Feature,ALB,Albania,Polygon,"[[[20.590247, 41.855404], [20.463175, 41.51508..."
3,Feature,ARE,United Arab Emirates,Polygon,"[[[51.579519, 24.245497], [51.757441, 24.29407..."
4,Feature,ARG,Argentina,MultiPolygon,"[[[[-65.5, -55.2], [-66.45, -55.25], [-66.9599..."

In [6]:
countries = []

for index, row in countries_flattened.iterrows():
    countries.append(row['properties.name'])

countries

['Afghanistan',
 'Angola',
 'Albania',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'Antarctica',
 'French Southern and Antarctic Lands',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'The Bahamas',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Brunei',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Switzerland',
 'Chile',
 'China',
 'Ivory Coast',
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of the Congo',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Northern Cyprus',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'Finland',
 'Fiji',
 'Falkland Islands',
 'France',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Guinea',
 'Gambia',
 'Guinea Bissau',
 'Equatorial Guinea',
 'Greece',
 'Greenland',
 'Guatemala',
 'French Guiana',
 'Guyana',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'India',
 'Ireland',
 'Iran',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'South Korea',
 'Kosovo',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Liberia',
 'Libya',
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Morocco',
 'Moldova',
 'Madagascar',
 'Mexico',
 'Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Montenegro',
 'Mongolia',
 'Mozambique',
 'Mauritania',
 'Malawi',
 'Malaysia',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Papua New Guinea',
 'Poland',
 'Puerto Rico',
 'North Korea',
 'Portugal',
 'Paraguay',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Western Sahara',
 'Saudi Arabia',
 'Sudan',
 'South Sudan',
 'Senegal',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'Somaliland',
 'Somalia',
 'Republic of Serbia',
 'Suriname',
 'Slovakia',
 'Slovenia',
 'Sweden',
 'Swaziland',
 'Syria',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'East Timor',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Taiwan',
 'United Republic of Tanzania',
 'Uganda',
 'Ukraine',
 'Uruguay',
 'United States of America',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Vanuatu',
 'West Bank',
 'Yemen',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [7]:
dfs = []

for index, row in emissions_df.iterrows():
    if row['Country'] in countries:
        dfs.append(row.to_frame().T)

filtered_countries_df = pd.concat(dfs, ignore_index=True)

In [8]:
print(filtered_countries_df)

           Country ISO 3166-1 alpha-3  Year      Total      Coal       Oil  \
0      Afghanistan                AFG  1750        0.0       NaN       NaN
1      Afghanistan                AFG  1751        0.0       NaN       NaN
2      Afghanistan                AFG  1752        0.0       NaN       NaN
3      Afghanistan                AFG  1753        0.0       NaN       NaN
4      Afghanistan                AFG  1754        0.0       NaN       NaN
...            ...                ...   ...        ...       ...       ...
44875     Zimbabwe                ZWE  2017   9.596071  5.900452  3.226752
44876     Zimbabwe                ZWE  2018  11.795478  7.177776  4.059712
44877     Zimbabwe                ZWE  2019  11.114607   6.88832  3.656672
44878     Zimbabwe                ZWE  2020  10.607897  6.721571  3.316712
44879     Zimbabwe                ZWE  2021  11.296114   7.22562  3.500879

       Gas    Cement Flaring Other Per Capita
0      NaN       NaN     NaN   NaN        NaN
1      NaN       NaN     NaN   NaN        NaN
2      NaN       NaN     NaN   NaN        NaN
3      NaN       NaN     NaN   NaN        NaN
4      NaN       NaN     NaN   NaN        NaN
...    ...       ...     ...   ...        ...
44875  0.0  0.468867     0.0   NaN   0.650533
44876  0.0   0.55799     0.0   NaN   0.783639
44877  0.0  0.569615     0.0   NaN   0.723861
44878  0.0  0.569615     0.0   NaN    0.67697
44879  0.0  0.569615     0.0   NaN   0.706293

[44880 rows x 11 columns]

In [9]:
filtered_countries_df = filtered_countries_df.rename(columns={'Country' : 'properties.name'})

filtered_countries_df

,properties.name,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
44875,Zimbabwe,ZWE,2017,9.596071,5.900452,3.226752,0.0,0.468867,0.0,NaN,0.650533
44876,Zimbabwe,ZWE,2018,11.795478,7.177776,4.059712,0.0,0.55799,0.0,NaN,0.783639
44877,Zimbabwe,ZWE,2019,11.114607,6.88832,3.656672,0.0,0.569615,0.0,NaN,0.723861
44878,Zimbabwe,ZWE,2020,10.607897,6.721571,3.316712,0.0,0.569615,0.0,NaN,0.67697
44879,Zimbabwe,ZWE,2021,11.296114,7.22562,3.500879,0.0,0.569615,0.0,NaN,0.706293

In [10]:
full_data_df = pd.merge(filtered_countries_df, countries_flattened, on='properties.name', how='inner')

full_data_df

,properties.name,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita,type,id,geometry.type,geometry.coordinates
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feature,AFG,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feature,AFG,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feature,AFG,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feature,AFG,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feature,AFG,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44875,Zimbabwe,ZWE,2017,9.596071,5.900452,3.226752,0.0,0.468867,0.0,NaN,0.650533,Feature,ZWE,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44876,Zimbabwe,ZWE,2018,11.795478,7.177776,4.059712,0.0,0.55799,0.0,NaN,0.783639,Feature,ZWE,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44877,Zimbabwe,ZWE,2019,11.114607,6.88832,3.656672,0.0,0.569615,0.0,NaN,0.723861,Feature,ZWE,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44878,Zimbabwe,ZWE,2020,10.607897,6.721571,3.316712,0.0,0.569615,0.0,NaN,0.67697,Feature,ZWE,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44879,Zimbabwe,ZWE,2021,11.296114,7.22562,3.500879,0.0,0.569615,0.0,NaN,0.706293,Feature,ZWE,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."

In [11]:
full_data_df.rename(columns={'Year' : 'properties.year',
                             'Total' : 'properties.total',
                             'Coal' : 'properties.coal',
                             'Oil' : 'properties.oil',
                             'Gas' : 'properties.gas',
                             'Cement' : 'properties.cement',
                             'Flaring' : 'properties.flaring',
                             'Other' : 'properties.other',
                             'Per Capita' : 'properties.percapita'}, inplace=True)

full_data_df

,properties.name,ISO 3166-1 alpha-3,properties.year,properties.total,properties.coal,properties.oil,properties.gas,properties.cement,properties.flaring,properties.other,properties.percapita,type,id,geometry.type,geometry.coordinates
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feature,AFG,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feature,AFG,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feature,AFG,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feature,AFG,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feature,AFG,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44875,Zimbabwe,ZWE,2017,9.596071,5.900452,3.226752,0.0,0.468867,0.0,NaN,0.650533,Feature,ZWE,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44876,Zimbabwe,ZWE,2018,11.795478,7.177776,4.059712,0.0,0.55799,0.0,NaN,0.783639,Feature,ZWE,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44877,Zimbabwe,ZWE,2019,11.114607,6.88832,3.656672,0.0,0.569615,0.0,NaN,0.723861,Feature,ZWE,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44878,Zimbabwe,ZWE,2020,10.607897,6.721571,3.316712,0.0,0.569615,0.0,NaN,0.67697,Feature,ZWE,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44879,Zimbabwe,ZWE,2021,11.296114,7.22562,3.500879,0.0,0.569615,0.0,NaN,0.706293,Feature,ZWE,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."

In [12]:
full_data_df = full_data_df.drop('ISO 3166-1 alpha-3', axis=1)

print(full_data_df)

      properties.name properties.year properties.total properties.coal  \
0         Afghanistan            1750              0.0             NaN
1         Afghanistan            1751              0.0             NaN
2         Afghanistan            1752              0.0             NaN
3         Afghanistan            1753              0.0             NaN
4         Afghanistan            1754              0.0             NaN
...               ...             ...              ...             ...
44875        Zimbabwe            2017         9.596071        5.900452
44876        Zimbabwe            2018        11.795478        7.177776
44877        Zimbabwe            2019        11.114607         6.88832
44878        Zimbabwe            2020        10.607897        6.721571
44879        Zimbabwe            2021        11.296114         7.22562

      properties.oil properties.gas properties.cement properties.flaring  \
0                NaN            NaN               NaN                NaN
1                NaN            NaN               NaN                NaN
2                NaN            NaN               NaN                NaN
3                NaN            NaN               NaN                NaN
4                NaN            NaN               NaN                NaN
...              ...            ...               ...                ...
44875       3.226752            0.0          0.468867                0.0
44876       4.059712            0.0           0.55799                0.0
44877       3.656672            0.0          0.569615                0.0
44878       3.316712            0.0          0.569615                0.0
44879       3.500879            0.0          0.569615                0.0

      properties.other properties.percapita     type   id geometry.type  \
0                  NaN                  NaN  Feature  AFG       Polygon
1                  NaN                  NaN  Feature  AFG       Polygon
2                  NaN                  NaN  Feature  AFG       Polygon
3                  NaN                  NaN  Feature  AFG       Polygon
4                  NaN                  NaN  Feature  AFG       Polygon
...                ...                  ...      ...  ...           ...
44875              NaN             0.650533  Feature  ZWE       Polygon
44876              NaN             0.783639  Feature  ZWE       Polygon
44877              NaN             0.723861  Feature  ZWE       Polygon
44878              NaN              0.67697  Feature  ZWE       Polygon
44879              NaN             0.706293  Feature  ZWE       Polygon

                                    geometry.coordinates
0      [[[61.210817, 35.650072], [62.230651, 35.27066...
1      [[[61.210817, 35.650072], [62.230651, 35.27066...
2      [[[61.210817, 35.650072], [62.230651, 35.27066...
3      [[[61.210817, 35.650072], [62.230651, 35.27066...
4      [[[61.210817, 35.650072], [62.230651, 35.27066...
...                                                  ...
44875  [[[31.191409, -22.25151], [30.659865, -22.1515...
44876  [[[31.191409, -22.25151], [30.659865, -22.1515...
44877  [[[31.191409, -22.25151], [30.659865, -22.1515...
44878  [[[31.191409, -22.25151], [30.659865, -22.1515...
44879  [[[31.191409, -22.25151], [30.659865, -22.1515...

[44880 rows x 14 columns]

In [13]:
full_data_df = full_data_df[['type', 'id', 'properties.name', 'properties.year', 'properties.total', 'properties.coal', 'properties.oil', 
'properties.gas', 'properties.cement', 'properties.flaring', 'properties.other', 'properties.percapita', 'geometry.type', 'geometry.coordinates' ]]

full_data_df = full_data_df.fillna(0)

print(full_data_df)

          type   id properties.name  properties.year  properties.total  \
0      Feature  AFG     Afghanistan             1750          0.000000
1      Feature  AFG     Afghanistan             1751          0.000000
2      Feature  AFG     Afghanistan             1752          0.000000
3      Feature  AFG     Afghanistan             1753          0.000000
4      Feature  AFG     Afghanistan             1754          0.000000
...        ...  ...             ...              ...               ...
44875  Feature  ZWE        Zimbabwe             2017          9.596071
44876  Feature  ZWE        Zimbabwe             2018         11.795478
44877  Feature  ZWE        Zimbabwe             2019         11.114607
44878  Feature  ZWE        Zimbabwe             2020         10.607897
44879  Feature  ZWE        Zimbabwe             2021         11.296114

       properties.coal  properties.oil  properties.gas  properties.cement  \
0             0.000000        0.000000             0.0           0.000000
1             0.000000        0.000000             0.0           0.000000
2             0.000000        0.000000             0.0           0.000000
3             0.000000        0.000000             0.0           0.000000
4             0.000000        0.000000             0.0           0.000000
...                ...             ...             ...                ...
44875         5.900452        3.226752             0.0           0.468867
44876         7.177776        4.059712             0.0           0.557990
44877         6.888320        3.656672             0.0           0.569615
44878         6.721571        3.316712             0.0           0.569615
44879         7.225620        3.500879             0.0           0.569615

       properties.flaring  properties.other  properties.percapita  \
0                     0.0               0.0              0.000000
1                     0.0               0.0              0.000000
2                     0.0               0.0              0.000000
3                     0.0               0.0              0.000000
4                     0.0               0.0              0.000000
...                   ...               ...                   ...
44875                 0.0               0.0              0.650533
44876                 0.0               0.0              0.783639
44877                 0.0               0.0              0.723861
44878                 0.0               0.0              0.676970
44879                 0.0               0.0              0.706293

      geometry.type                               geometry.coordinates
0           Polygon  [[[61.210817, 35.650072], [62.230651, 35.27066...
1           Polygon  [[[61.210817, 35.650072], [62.230651, 35.27066...
2           Polygon  [[[61.210817, 35.650072], [62.230651, 35.27066...
3           Polygon  [[[61.210817, 35.650072], [62.230651, 35.27066...
4           Polygon  [[[61.210817, 35.650072], [62.230651, 35.27066...
...             ...                                                ...
44875       Polygon  [[[31.191409, -22.25151], [30.659865, -22.1515...
44876       Polygon  [[[31.191409, -22.25151], [30.659865, -22.1515...
44877       Polygon  [[[31.191409, -22.25151], [30.659865, -22.1515...
44878       Polygon  [[[31.191409, -22.25151], [30.659865, -22.1515...
44879       Polygon  [[[31.191409, -22.25151], [30.659865, -22.1515...

[44880 rows x 14 columns]

C:\Users\danrk\AppData\Local\Temp\ipykernel_19896\3598992219.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  full_data_df = full_data_df.fillna(0)

In [14]:
full_data_df.head()

,type,id,properties.name,properties.year,properties.total,properties.coal,properties.oil,properties.gas,properties.cement,properties.flaring,properties.other,properties.percapita,geometry.type,geometry.coordinates
0,Feature,AFG,Afghanistan,1750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
1,Feature,AFG,Afghanistan,1751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
2,Feature,AFG,Afghanistan,1752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
3,Feature,AFG,Afghanistan,1753,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
4,Feature,AFG,Afghanistan,1754,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."

In [15]:
full_data_df.to_csv('full_data.csv', index=False)

In [16]:
years = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1987, 1990, 1992, 2000, 2005, 2010, 2015, 2020, 2021]

year_highlights_df = full_data_df[full_data_df['properties.year'].isin(years)].copy()

year_highlights_df = pd.DataFrame(year_highlights_df)

year_highlights_df

,type,id,properties.name,properties.year,properties.total,properties.coal,properties.oil,properties.gas,properties.cement,properties.flaring,properties.other,properties.percapita,geometry.type,geometry.coordinates
150,Feature,AFG,Afghanistan,1900,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
160,Feature,AFG,Afghanistan,1910,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
170,Feature,AFG,Afghanistan,1920,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
180,Feature,AFG,Afghanistan,1930,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
190,Feature,AFG,Afghanistan,1940,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44863,Feature,ZWE,Zimbabwe,2005,10.698489,8.474832,1.985888,0.0,0.237769,0.0,0.0,0.875150,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44868,Feature,ZWE,Zimbabwe,2010,8.754012,6.507264,1.938256,0.0,0.308492,0.0,0.0,0.681789,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44873,Feature,ZWE,Zimbabwe,2015,12.254954,8.060800,3.609040,0.0,0.585114,0.0,0.0,0.865772,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44878,Feature,ZWE,Zimbabwe,2020,10.607897,6.721571,3.316712,0.0,0.569615,0.0,0.0,0.676970,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."
44879,Feature,ZWE,Zimbabwe,2021,11.296114,7.225620,3.500879,0.0,0.569615,0.0,0.0,0.706293,Polygon,"[[[31.191409, -22.25151], [30.659865, -22.1515..."

In [17]:
year_highlights_df.rename(columns={
                             'geometry.coordinates' : 'coordinates',
                             'properties.name'	: 'name',
                             'properties.year' : 'year',	
                             'properties.total'	 : 'total',
                             'properties.coal' : 'coal',	
                             'properties.oil' : 'oil',	
                             'properties.gas' : 'gas',	
                             'properties.cement' : 'cement',	
                             'properties.flaring' : 'flaring',	
                             'properties.other' : 'other',	
                             'properties.percapita' : 'percapita'}, inplace=True)

In [18]:
print(year_highlights_df)

          type   id         name  year      total      coal       oil  gas  \
150    Feature  AFG  Afghanistan  1900   0.000000  0.000000  0.000000  0.0
160    Feature  AFG  Afghanistan  1910   0.000000  0.000000  0.000000  0.0
170    Feature  AFG  Afghanistan  1920   0.000000  0.000000  0.000000  0.0
180    Feature  AFG  Afghanistan  1930   0.000000  0.000000  0.000000  0.0
190    Feature  AFG  Afghanistan  1940   0.000000  0.000000  0.000000  0.0
...        ...  ...          ...   ...        ...       ...       ...  ...
44863  Feature  ZWE     Zimbabwe  2005  10.698489  8.474832  1.985888  0.0
44868  Feature  ZWE     Zimbabwe  2010   8.754012  6.507264  1.938256  0.0
44873  Feature  ZWE     Zimbabwe  2015  12.254954  8.060800  3.609040  0.0
44878  Feature  ZWE     Zimbabwe  2020  10.607897  6.721571  3.316712  0.0
44879  Feature  ZWE     Zimbabwe  2021  11.296114  7.225620  3.500879  0.0

         cement  flaring  other  percapita geometry.type  \
150    0.000000      0.0    0.0   0.000000       Polygon
160    0.000000      0.0    0.0   0.000000       Polygon
170    0.000000      0.0    0.0   0.000000       Polygon
180    0.000000      0.0    0.0   0.000000       Polygon
190    0.000000      0.0    0.0   0.000000       Polygon
...         ...      ...    ...        ...           ...
44863  0.237769      0.0    0.0   0.875150       Polygon
44868  0.308492      0.0    0.0   0.681789       Polygon
44873  0.585114      0.0    0.0   0.865772       Polygon
44878  0.569615      0.0    0.0   0.676970       Polygon
44879  0.569615      0.0    0.0   0.706293       Polygon

                                             coordinates
150    [[[61.210817, 35.650072], [62.230651, 35.27066...
160    [[[61.210817, 35.650072], [62.230651, 35.27066...
170    [[[61.210817, 35.650072], [62.230651, 35.27066...
180    [[[61.210817, 35.650072], [62.230651, 35.27066...
190    [[[61.210817, 35.650072], [62.230651, 35.27066...
...                                                  ...
44863  [[[31.191409, -22.25151], [30.659865, -22.1515...
44868  [[[31.191409, -22.25151], [30.659865, -22.1515...
44873  [[[31.191409, -22.25151], [30.659865, -22.1515...
44878  [[[31.191409, -22.25151], [30.659865, -22.1515...
44879  [[[31.191409, -22.25151], [30.659865, -22.1515...

[2970 rows x 14 columns]

In [19]:
year_highlights_df.to_csv('yearly_emissions_highlights.csv', index=False)

In [20]:

geojson = pdg.GeoJSON.from_dataframe(year_highlights_df
                                     ,geometry_type_col='geometry.type'
                                     ,coordinate_col='coordinates'
                                     ,property_col_list=['name','year','total']
                                     )

In [21]:
pdg.save_geojson(geojson, 'country_emission_totals.geojson', indent = 3 )